@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="border-right: 1px solid white;">
        <NavMenu />
    </div>

    <main class="bg-dark">
        <div class="top-row px-4">
            <a href="https://www.dndbeyond.com/" target="_blank">Go to D&D Beyond</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
