@inject ICampaignService CampaignService
@inject NavigationManager Navigation

<h3>Campaign List</h3>

@if(campaigns.Count() == 0)
{
    <span>It looks as though you don't have any campaigns...</span>
}
else 
{
    @foreach (var campaign in campaigns)
    {

        <CampaignCard Id=@campaign.Id
            Name=@campaign.Name
            Date=@campaign.StartDate.ToString()
            Description=@campaign.Description
        />
    }
}

<div class="container-sm" >
    <button class="btn btn-primary" @onclick="CreateCampaign">Create Campaign</button>
</div>

@code {
    List<Campaign> campaigns = new List<Campaign>();

    protected override async Task OnInitializedAsync()
    {
        await CampaignService.GetCampaigns();
        campaigns = CampaignService.Campaigns;
    }

    void CreateCampaign()
    {
        Navigation.NavigateTo("/createCampaign");
    }
}
